In [1]:
#Data Types and Structures Questions

1. What are data structures, and why are they important?
   ->1.Data structures are ways to store and organize data. They help make programs faster and easier to manage.

2.  Explain the difference between mutable and immutable data types with examples
       ->2. Mutable types (like lists) can be changed after creation and  immutable types (like strings, tuples) cannot be changed.

3.  What are the main differences between lists and tuples in Python
    ->3. Lists are mutable and use more memory, while tuples are immutable and faster to access.

4.  Describe how dictionaries store data
    ->4. Dictionaries store data in (key:value) pairs, where each key points to a specific value.

5.  Why might you use a set instead of a list in Python
    ->5. Sets are used when you need only unique items and don't care about order.

6.  What is a string in Python, and how is it different from a list
    ->6. A string is a sequence of characters. Unlike lists, strings can’t be changed once created.

7.  How do tuples ensure data integrity in Python?
    ->7. Tuples protect data from being changed, making them good for fixed collections like coordinates.

8. What is a hash table, and how does it relate to dictionaries in Python?
    ->8. A hash table stores data using a key and Python’s dictionaries are built using hash tables for fast lookup.

9. Can lists contain different data types in Python?
    ->9. Yes, lists in Python can hold different data types like numbers, strings, and even other lists.

10.  Explain why strings are immutable in Python?
    ->10. Strings are immutable to save memory and ensure safety when used in multiple places.

11.  What advantages do dictionaries offer over lists for certain tasks?
    ->11. Dictionaries allow quick access to data using keys, while lists need to search by index or value.

12. Describe a scenario where using a tuple would be preferable over a list.
    ->12. Sets automatically remove duplicate values and store only one instance of each.

13. How do sets handle duplicate values in Python?
    ->13. Tuples are better for fixed data like dates (year, month, day) that shouldn’t change.

14.  How does the “in” keyword work differently for lists and dictionaries?
    ->14. In lists "in" checks for values and in dictionaries it checks for keys not values.

15. Can you modify the elements of a tuple? Explain why or why not.
    ->15. No, you can't modify a tuple because it's immutable it protects its data.

16. What is a nested dictionary, and give an example of its use case?
    ->16. A nested dictionary is a dictionary inside another.
Eg: student = {"name": "akshit", "marks": {"math1": 90, "math2": 85}}

17.  Describe the time complexity of accessing elements in a dictionary.
    ->17. Accessing elements in a dictionary is O(1) time on average very fast.

18.  In what situations are lists preferred over dictionaries?
    -> 18. Lists are better when order matters or when you want to store simple sequences.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    ->19. Dictionaries don’t guarantee key order before Python 3.7, so data comes out in no fixed order (in older versions).

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
    ->20. In a list, you retrieve data by index; in a dictionary, you use keys for faster and more flexible access.

In [ ]:
#  Practical Questions

In [39]:
#1. Write a code to create a string with your name and print it.
name = "Akshit"
print(name)

Akshit

In [38]:
#2. Write a code to find the length of the string "Hello World".
text = "akshit dawas"
print(len(text))

12

In [43]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [42]:
#4. Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [35]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [34]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [33]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
nums = [1, 2, 3, 4]
nums.append(100)
print(nums)

[1, 2, 3, 4, 100]

In [41]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
nums = [1, 2, 3, 4, 5]
nums.remove(5)
print(nums)

[1, 2, 3, 4]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [12]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [16]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [32]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [31]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [29]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [30]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [28]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [27]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
info = {"name": "John", "age": 25, "city": "Delhi"}
print(info)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

In [26]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

In [24]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [23]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
print('city' in data)

True

In [22]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [21]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[28, 40, 55, 60, 97]

In [20]:
#28. Write a code to create a list with strings and print the element at the third index.
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])

date

In [19]:
#29. Write a code to combine two dictionaries into one and print the result.
a = {'x': 1, 'y': 2}
b = {'z': 3}
a.update(b)
print(a)

{'x': 1, 'y': 2, 'z': 3}

In [18]:
#30.Write a code to convert a list of strings into a set
words = ['apple', 'banana', 'apple']
word_set = set(words)
print(word_set)

{'banana', 'apple'}